openapi: 3.2.0
info:
  title: MyCase Open Firm API
  version: '1.0'
  description: 'Partial, profile-only OpenAPI description of the publicly documented MyCase

    Open API surface, hand-assembled from the Stoplight reference at

    https://mycaseapi.stoplight.io/ and the MyCase Open API support article at

    https://supportcenter.mycase.com/en/articles/9370198-open-api.'
  contact:
    name: MyCase Support
    url: https://supportcenter.mycase.com/
  license:
    name: MyCase Terms of Service
    url: https://www.mycase.com/terms-of-service/
servers:
- url: https://api.mycase.com
  description: MyCase Open API (production). The exact base URL is documented inside the authenticated Stoplight reference; this value is a placeholder consistent with MyCase's public hostnames.
security:
- bearerAuth: []
tags:
- name: Firm
  description: The authorized firm of the current API user.
paths:
  /firm:
    get:
      tags:
      - Firm
      summary: Get the Firm of the Current Authorized User
      operationId: getFirm
      description: Return the firm record for the current authorized API user. Documented at https://mycaseapi.stoplight.io/docs/mycase-api-documentation/0acc0620bdd9e-get-the-firm-of-the-current-authorized-user.
      responses:
        '200':
          description: Firm record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firm'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Firm:
      type: object
      description: The firm record for the authorized user. Fields are gated behind the authenticated Stoplight reference; this shape is illustrative.
      properties:
        id:
          type: string
        name:
          type: string
        time_zone:
          type: string
          description: IANA time zone identifier used for the firm calendar.
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token issued through the MyCase Open API onboarding flow. The exact authorization endpoint is documented inside the authenticated Stoplight reference.
