openapi: 3.2.0
info:
  title: MyCase Open Companies API
  version: '1.0'
  description: 'Partial, profile-only OpenAPI description of the publicly documented MyCase

    Open API surface, hand-assembled from the Stoplight reference at

    https://mycaseapi.stoplight.io/ and the MyCase Open API support article at

    https://supportcenter.mycase.com/en/articles/9370198-open-api.'
  contact:
    name: MyCase Support
    url: https://supportcenter.mycase.com/
  license:
    name: MyCase Terms of Service
    url: https://www.mycase.com/terms-of-service/
servers:
- url: https://api.mycase.com
  description: MyCase Open API (production). The exact base URL is documented inside the authenticated Stoplight reference; this value is a placeholder consistent with MyCase's public hostnames.
security:
- bearerAuth: []
tags:
- name: Companies
  description: Companies visible to the authorized user.
paths:
  /companies:
    get:
      tags:
      - Companies
      summary: Get Companies
      operationId: getCompanies
      description: Get all firm companies viewable by the authorized user. Documented at https://mycaseapi.stoplight.io/docs/mycase-api-documentation/eddd20d8e1045-get-companies.
      responses:
        '200':
          description: A list of companies.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Company:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        primary_email:
          type: string
          format: email
        primary_phone:
          type: string
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token issued through the MyCase Open API onboarding flow. The exact authorization endpoint is documented inside the authenticated Stoplight reference.
