openapi: 3.2.0
info:
  title: MyCase Open Events API
  version: '1.0'
  description: 'Partial, profile-only OpenAPI description of the publicly documented MyCase

    Open API surface, hand-assembled from the Stoplight reference at

    https://mycaseapi.stoplight.io/ and the MyCase Open API support article at

    https://supportcenter.mycase.com/en/articles/9370198-open-api.'
  contact:
    name: MyCase Support
    url: https://supportcenter.mycase.com/
  license:
    name: MyCase Terms of Service
    url: https://www.mycase.com/terms-of-service/
servers:
- url: https://api.mycase.com
  description: MyCase Open API (production). The exact base URL is documented inside the authenticated Stoplight reference; this value is a placeholder consistent with MyCase's public hostnames.
security:
- bearerAuth: []
tags:
- name: Events
  description: Calendar events on the firm calendar.
paths:
  /events/{eventId}:
    parameters:
    - name: eventId
      in: path
      required: true
      schema:
        type: string
    patch:
      tags:
      - Events
      summary: Update an Individual Event
      operationId: updateEvent
      description: Update an existing calendar event subject to user/firm privileges. Documented at https://mycaseapi.stoplight.io/docs/mycase-api-documentation/4f98681f0927b-update-an-individual-event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventInput'
      responses:
        '200':
          description: Updated event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Event:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        all_day:
          type: boolean
        case_id:
          type: string
        location:
          type: string
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    EventInput:
      type: object
      properties:
        title:
          type: string
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        all_day:
          type: boolean
        case_id:
          type: string
        location:
          type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token issued through the MyCase Open API onboarding flow. The exact authorization endpoint is documented inside the authenticated Stoplight reference.
